name: check-build
permissions:
  contents: read
  
on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
  push:
    branches:
      - main
      - feat-build-next

jobs:
  build:
    name: Build ${{ matrix.job.version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        job:
          - { version: '2.2.0-develop', branch: 'develop', tls: true, no_tls: false }

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: mlugg/setup-zig@v2
        with:
          version: "0.15.1"

      - uses: extractions/setup-just@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          cache: false
      - run: go install github.com/goreleaser/nfpm/v2/cmd/nfpm@latest
        name: Install dependencies

      - name: Checkout mosquitto
        run: |
          if [ -n "${{ matrix.job.branch }}" ]; then
            just checkout-mosquitto-branch ${{ matrix.job.branch }}
          else
            just checkout-mosquitto ${{ matrix.job.version }}
          fi

      - name: Build with tls
        if: ${{ matrix.job.tls }}
        run: just VERSION=${{ matrix.job.version }} build-all

      - name: Build without tls
        if: ${{ matrix.job.no_tls }}
        run: just VERSION=${{ matrix.job.version }} build-notls-all
      
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mosquitto-${{ matrix.job.version }}
          path: dist/*.*

  check-build:
    runs-on: ubuntu-latest
    needs: [build]
    if: always()
    steps:
    - name: Fail on workflow error
      run: exit 1
      if: >-
        ${{
          contains(needs.*.result, 'failure')
          || contains(needs.*.result, 'cancelled')
          || contains(needs.*.result, 'skipped')
        }}
